.character-card {
  align-items: center;
  border: 5px dotted $main;
  border-radius: 5px;
  display: flex;
  margin-bottom: 20px;
  padding: 15px;
}

img {
  border: 4px dotted $main;
  border-radius: 50%;
}

.details {
  border: 4px dotted $main;
  flex: 1;
  margin-left: 15px;
  padding: 15px;
}
