.character-card {
  align-items: center;
  border: 5px dotted $main;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 15px;

  @media (min-width: 576px) {
    flex-direction: row;
  }

  img {
    width: 100%;

    @media (min-width: 576px) {
      border: 4px dotted $main;
      border-radius: 50%;
      width: auto;
    }
  }

  .details {
    flex: 1;
    margin-left: 15px;
    padding: 15px;
    width: 100%;
  }
}

