.App {
  padding: 15px;
}

.character-card {
  border: 5px dotted #0eabca;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  padding: 15px;
  align-items: center;
}

img {
  border: 4px dotted #0eabca;
  border-radius: 50%;
}

.details {
  flex: 1;
  border: 4px dotted #0eabca;
  margin-left: 15px;
  padding: 15px;
}

.async-status-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
